@charset "utf-8";
:root{
	--video_block_width:350px;
	--video_block_img_height:200px;
	--video_block_margin_v:20px;
	--video_block_margin_h:10px;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888888c4;
	border-radius:5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #55555569;
}

* {box-sizing: border-box;}



body {

	margin: 0;

	font-family: Arial, Helvetica, sans-serif;
}
.relative{
	/*	position: relative;*/
}
.line_block_right{
	position:absolute;
	right:0;
}

.main_body{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 130px;
	width: 100%;
	background-image: url("https://wallpaper.dog/large/10710358.jpg");
	opacity: 1;
}

.header{
	width: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	top:0;
	opacity: 1;
}
.header *{
	vertical-align: baseline;
}

.header_btn, .search_btn {
	height: 100%;
	padding: 10px 0;
	width: 10%;
	display:inline-block;

}
.header_btn > div{
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.header_btn  *{
	cursor: pointer;
}

.header_btn:hover{
	transition: background-color 0.05s ease-in-out;
	background-color:#0092c4;

}
.header_btn i{
	vertical-align:bottom;
	font-size: 18px;
	color: white;
	margin-right: 0px;
}
.header_text{

	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 17px;
	color: aliceblue;
}
.search_div{
	width: 30%;
	padding: 0 0;
	display:inline-block;
}
.search_div>div{
	padding: 0px 0;
}
.search_div input[type=text]{
	border: none;
	padding-left: 12px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 20px;
	width: 100%;
	margin: auto;
	border-radius: 20px;
}
.search_btn{
	width: 40px;
	cursor: pointer;
	text-align: center;
}
.search_btn  *{
	cursor: pointer;
}
.search_btn:hover{
	transition: background-color 0.05s ease-in-out;
	background-color:#0092c4;
}
.search_btn i{
	cursor: pointer;
	vertical-align: bottom;
	font-size: 22px;
	color: white;
}
.login_panel{
	position: absolute;
	top:0;
	right: 1%;
	width: 200px;
}
.login_line{
	padding: 5px 0;
}
.login_line *{
	display: inline-block;
}
.login_line i{
	color: white;
	font-size: 22px;
	vertical-align: bottom;
}
.login_line_input{
	border: none;
	padding-left: 4px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 15px;
	/*	margin-right: 0;*/
	width: 150px;
	margin: auto;
	border-radius: 2px;
}
.login_btns{
	/*	position: relative;*/
	margin-top: 6px;
	padding-left: 27px;
	padding-right: 22px;
}
.login_btns *{
	font-family: "Segoe UI",Arial,sans-serif;

}
.login_btns input{
	/*	position: absolute;*/
	margin-left: 0;
	border: none;
	width: 48%;
	color:#0092c4;
	font-size: 14px;
	font-weight: 400;
	border-radius: 2px;
	background-color: white;
	opacity: 1;
}
.login_btns button{
	margin-right:   0;
	border: none;
	width: 48%;
	color:#0092c4;
	font-size: 14px;
	font-weight: 400;
	border-radius: 2px;
	background-color: white;
	opacity: 1;
}
.login_btns input:hover{
	transition: background-color 0.05s ease-in-out;
	background-color: #0092c4;
	color:white;
}
.login_btns button:hover{
	transition: background-color 0.05s ease-in-out;
	background-color: #0092c4;
	color:white;
}

.video_list{
	padding-top: 10px;
	padding-left: 12%;
	padding-right: 12%;
	margin-top: 130px;
	width: 100%;
	text-align: center;
	/*display: inline-block;*/
}
.video_block{
	/*width: 14.5%;*/
	width: var(--video_block_width);
	display: inline-block;
	position: relative;
	margin: var(--video_block_margin_v) var(--video_block_margin_h);
	border: none;
	/*	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.video_block img{
	cursor: pointer;
	/*width: var(--video_block_width);*/
	height: var(--video_block_img_height);
	border-radius: 2px;
}
.video_info {
	text-align: left;
}
.video_title{
	color: #4D6074;
	cursor: pointer;
	font-size: 15px
}
.video_title:hover{
	transition: color 0.2s ease-in-out;
	color:#0092AB;
}

.video_info_i_label_tag{
	padding: 0 2px;
	color: #999999;
	display: inline-block;
}
.video_info_i_label_tag *{
	cursor: pointer;
}
.video_info_i_label_tag:hover{
	transition: color 0.2s ease-in-out;
	color:#555555;
}
.video_info_i_label_tag i{
	font-size: 21px;
	vertical-align: bottom;
}
.video_info_i_label_tag label{
	font-size: 15px;
	vertical-align: baseline;
}

.favorite:hover{
	transition: color 0.2s ease-in-out;
	color: red;
}
.has_favorite{
	color: red;
}

.comment:hover{
	transition: color 0.2s ease-in-out;
	color: green;
}


.video_img_cover{
	z-index: 5;
	cursor: pointer;
	/*visibility: hidden;*/
	position: absolute;
	top: 0;
	background-color: #5C5C5C;
	opacity: 0.0;
	height: var(--video_block_img_height);
	width: var(--video_block_width);

}
.video_description{
	opacity: 1;
	/*visibility: hidden;*/
	position:absolute;
	padding: 5px 5px;
	color: #ffffff;
	top:0;
	/*z-index: 4;*/
	/*overflow: hidden;*/
	height: var(--video_block_img_height);
	width: var(--video_block_width);
	overflow: hidden;
	text-align:left;

}
.video_description>label{
	padding:8px;
	transition: 0.3s ease-out;
	position: absolute;
	top: var(--video_block_img_height);
}

.video_description_back{
	position: absolute;
	top: 0;
	background-color: #5C5C5C;
	opacity: 0.0;
	height: var(--video_block_img_height);
	width: var(--video_block_width);
}

.video_img_container{
	overflow: hidden;
	display: flex;
	background-color: #d0d0d04f;
	justify-content: center;
}


.video_img_cover:hover~ .video_description_back{
	transition: opacity 0.2s ease-in-out;
	opacity: 0.2;
	visibility: visible;
}
.video_img_cover:hover ~.video_description>label{
	/*transition: opacity 0.2s ease-in-out;*/
	/*opacity: 1;*/
	/*visibility: visible;*/

	transform: translateY(calc( 0px - var(--video_block_img_height)));

}
.video_img_cover:hover ~ .video_img_container>.video_img{
	transform: scale(1.3);
	transition: transform 0.2s ease-in-out;
}

.video_img{
	transform: scale(1);
	transition: transform 0.2s ease-in-out;
}



/*Video CSS*/
.video_page_container{
	position: absolute;
	top: 130px;
	width: 100%;

}
.player_container{
	margin: 0 auto;
	width: 50%;

}
.player_video_title{
	margin-top: 10px;
}
.player_video_title>h1{
	color: #0A0A0A;
	font-size: 20px;
	margin: 0 0;
	padding: 3px 0;
}
.player_video_info{
	padding: 0px 0;
	margin-bottom: 10px;
}
.player_video_info *{
	color: #484848;

}
.player_video_info_item{
	display: inline-block;
}
.player_video_info_item *{
	vertical-align: bottom;
}
.player_video_info_item>lable{
	font-size: 15px;
}
.player_video_info_item>i{
	font-size: 17px;
}

.player_outter{
	width: 100%;
	outline: none;
}

.cover_info{
	margin-top: 10px;
	width: 100%;
	padding: 0 25%;
}
.cover_video_block{
	width: 100%;
}
.cover_video_img{
	width: 10%;
}
.cover_video_description{
	vertical-align: top;
	display: inline-block;
}
.cover_video_mid{
	padding: 0 10px;
	display: inline-block;
	vertical-align: top;
	width: 89%;
}
.comment_send_text{
	resize: none;
	font-size: 20px;
	width: 100%;
	height: 130px;
}
.comment_text{
	font-size: 20px;
}
.comment_btn{
	cursor: pointer;
	width: 100%;
	border: none;
	height: 30px;
	border-radius: 3px;
	background-color: #2FA7FF;
	color: white;
	font-size: 17px;
}
.comment_btn_not_login{
	cursor: pointer;
	width: 100%;
	border: none;
	height: 30px;
	border-radius: 3px;
	background-color: #bdc1c3;
	color: white;
	font-size: 17px;
}
.comment_btn:hover{
	background-color: #49BEFF;
}
.comments{
	padding: 0 25%;
}
.comment_item{
	margin-top: 10px;
	padding: 0 2px;

}
.comment_user_info_bar_lable{
	display: inline-block;
	vertical-align:middle;
	font-size: 16px;
	color: #717171;
}
.video_info_bottom{

	padding: 5px 0;
}

.comment_text span{
	padding-left: 55px;
	font-size: 16px;
	display:inline-block;
	width: 100%;
}
.account_avt_i{
	color: #2F2F2F;
	vertical-align: middle;
	font-size: 50px;
}
.delete_i{
	cursor: pointer;
	color: red;
	vertical-align: middle;
	font-size: 25px;
}
.plyr{
	/*height: 570px;*/
}
.player{
	--plyr-color-main: #00b3ff;
	--plyr-font-size-base: 13px;
	--plyr-font-size-small: 12px;
	--plyr-font-size-time: 11px;
	--plyr-font-size-badges: 9px;
	--plyr-font-size-menu: var(--plyr-font-size-base);
	--plyr-font-weight-regular: 500;
	--plyr-font-weight-bold: 600;
	--plyr-font-size-captions-medium: 18px;
	--plyr-font-size-captions-large: 21px;
}

/* Upload Page */

.upload_panel{
	width: 100%;
	margin-top: 130px;
}
.upload_panel h1{
	font-size: 20px;
	color: #1d1c1c;
}
.upload_panel_mid{
	margin: 0 auto;
	display: block;
	width: 30%;
}
.upload_panel_mid *{
	width: 100%;
	font-size: 16px;
	padding: 5px 0;
	font-family: "Segoe UI", Arial, sans-serif;
}
.upload_panel_mid label{
	color: #007ac1;
	font-weight: 400;
}
.upload_panel_mid input[type= text],
.upload_panel_mid textarea{
	resize: none;
	padding: 5px 5px;
}

.upload_panel_mid button,
.upload_panel_mid intput[type=file]{
	border-radius: 4px;
	border: none;
	background-color: #007ac1;
	color: #FFFFFF;
}


/*Sign up page*/

.signup_panel{
	width: 100%;
	margin-top: 130px;
}
.signup_panel h1{
	font-size: 20px;
	color: #1d1c1c;
}
.signup_panel_mid{
	margin: 0 auto;
	display: block;
	width: 30%;
}
.signup_panel_mid *{
	width: 100%;
	font-size: 17px;
	border-radius: 5px;
	border-width: 1px;
	padding: 5px 0;
	font-family: "Segoe UI", Arial, sans-serif;
}
.signup_panel_mid label{
	vertical-align: middle;
	color: #007ac1;
	font-weight: 400;
}
.signup_panel_mid input[type= text],
.signup_panel_mid input[type=password]{
	resize: none;
	padding: 5px 5px;
}

.signup_panel_mid button{
	border-radius: 4px;
	border: none;
	background-color: #007ac1;
	color: #FFFFFF;
}
.sign_up_field{
	display: inline-block;
}
.sign_up_field>i{
	width: auto;
	font-size: 25px;
	vertical-align: middle;
}

span.valid-error,
label.valid-error{
	color:red;
	font-size: 13px;

}
#submit{
	margin-top: 15px;
	cursor: pointer;
	height: 38px;
}
.logout_btns>button{
	font-size: 15px;
	width: 100%;
	height: 35px;
}
.submit-container *{
	padding:0 0;
	border-radius:0px;
}
